.intro{
  color:purple;
  font-weight: bolder;
  font-size: larger;
}

.try{
  font-family: 'Gill Sans';
  font-weight: bold;
  color:brown
}

p{
  font-style: italic;
  color:royalblue;
  font-weight:600
}

body{
  background: linear-gradient(lightgreen,red);
  padding-left: 10%
}